<div class="container">
  <div class="layer" *ngIf="isOverlay"></div>
  <div class="header">
    <h2>Filter by Date</h2>
    <mat-card (click)="filterByDate()">
      <mat-icon matSuffix>filter_list</mat-icon>
    </mat-card>
  </div>
 <app-weeks-periods-carusel [expensesByWeek]="expensesByWeek"></app-weeks-periods-carusel>
  <ngu-carousel #expensesCarrusel id="expensesCarrusel" [inputs]="expensesPerWeeksCarruselConfig"
                [dataSource]="expensesByWeek">
    <ngu-tile *nguCarouselDef="let expense; let j = index">
      <div class="expenseListContainer" (click)="activePoint = j">
        <app-expense-per-week-details [expensesWeek]="expense.expensesPerWeek"
                                      [isActive]="j==activePoint">
        </app-expense-per-week-details>
      </div>
    </ngu-tile>
  </ngu-carousel>
</div>
