<div class="container">
  <div class="layer" *ngIf="isOverlay"></div>
  <div class="header">
    <h2>Filter by Date</h2>
    <mat-card (click)="filterByDate()">
      <mat-icon matSuffix>filter_list</mat-icon>
    </mat-card>
  </div>
  <div class="week-carusel-container">
    <app-weeks-periods-carusel [expensesByWeek]="expensesByWeek"
                               (moveTo)="move($event,detailCarusel)"></app-weeks-periods-carusel>
  </div>
  <div class="detail-carusel-container">
    <app-weeks-details-carusel [expensesByWeek]="expensesByWeek" #detailCarusel></app-weeks-details-carusel>
  </div>
</div>
