<div>
  <span class="exit" (click)="this.dialogRef.close()">x</span>
</div>
<div>
  <h2>Change Password</h2>
  <form [formGroup]="changePassForm">
    <div class="control-container">
      <mat-label>New Password</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="newPass" required autocomplete="false"
               type="password">
        <mat-error *ngIf="changePassForm.controls.newPass.errors?.required">New Password Required</mat-error>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-label>Confirm New Password</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="confirmPass" required autocomplete="false"
               type="password" #pass>
        <mat-error *ngIf="changePassForm.controls.confirmPass.errors?.required">Confirm New Password Required
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button [disabled]="!canContinue" [mat-dialog-close]="pass.value" class="mat-elevation-z6 saveButton">Ok</button>

  </form>
</div>
