.container {
  background-color: #EFF8F5;
  padding: 50px;
  height: 80%;
  mat-card {
    background: white;
    border-radius: 10px;
    .form-container {
      padding: 60px 50px 24px 50px;
      display: flex;
      flex-direction: column;
      h2 {
        color: #707070;
        margin-bottom: 24px;
      }
      .pic-container {
        width: 145px;
        height: 145px;
        border-radius: 50%;
        border: solid 4px #2FC7F5;
        img {
          background: transparent;
          width: 100%;
        }
      }
      form {
        margin-top: 24px;
        flex-wrap: wrap;
        display: flex;
        mat-divider {
          background: #707070;
        }
        .control-container{
          display: flex;
          flex-direction: column;
          min-width: 150px;
          max-width: 250px;
          margin-right: 12px;
        }
        .changePass {
          width: 91px;
          height: 31px;
          background-image: linear-gradient(180deg, #6AA5E3, #6866E9);
          margin: -15px 0px 0px 0px;
          font-size: 12px;
        }
        #horizontalDivider{
          width: 100%;
          display: none;
          position: relative;
          margin-bottom: 10px;
        }
        #verticalDivider{
          margin-right: 12px;
        }
      }
      .saveButton {
        width: 265px;
        height: 57px;
        margin-top: 24px;
        color: white;
        background-image: linear-gradient(180deg, #6FE3FF, #2FC7F5);
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  #horizontalDivider{
    display: block!important;
  }
  #verticalDivider{
    display: none;
  }
}
@media screen and (max-width: 903px) {
  .control-container{
    max-width: 100%!important;
    width: 100%!important;
  }
}

