.container {
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../assets/img/login-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .form-container {
      border-radius: 10px;
      background-color: white;
      width: 536px;
      height: 649px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 3px 6px rgb(157,206,255, .16);
      img {
        margin: 80px 0px;
      }
      mat-form-field {
        width: 266px;

      }
      button {
        width: 265px;
        height: 57px;
        background-image: linear-gradient(180deg, #6AA5E3, #6866E9);
        margin: 40px 0px 25px 0px;
      }
      a {
        color: #6FE3FF;
        font-family: Montserrat;
        font-weight: normal;
        font-size: 12px;
      }
    }
}
