<div class="container">
  <mat-toolbar class="top-toolbar">
  <div>
    <img [src]="sidenav.opened? '../../../assets/img/menu_open.png':'../../../assets/img/menu_close.png'"
         (click)="sidenav.toggle()">
    <img src="../../../assets/img/logo_sidebar.png">
  </div>
  <div>
    <img class="new-stats" src="../../../assets/img/new_stats.svg">
    <img class="profile-pic" src="../../../assets/img/profile-pic.png">
  </div>
</mat-toolbar>
  <mat-toolbar class="top-toolbar-responsive">
    <div>
      <img [src]="sidenav.opened? '../../../assets/img/menu_open.png':'../../../assets/img/menu_close.png'"
           (click)="sidenav.toggle()">
      <img class="title" src="../../../assets/img/logo_sidebar_responsive.png">
      <img src="../../../assets/img/new_stats.svg">
    </div>
  </mat-toolbar>
  <mat-drawer-container>

    <mat-drawer #sidenav [opened]="sidenavIsOpened"
                [mode]="sidenavIsPinned ? 'side' : 'over'"
                class="sidenav mat-elevation-z6 menu-container" autoFocus="false">
      <div class="top-menu">
        <div class="info">
          <img class="profile-pic-menu" src="../../../assets/img/profile-pic.png">
          <span>
            <h2>{{memberActive.user}}</h2>
            <h3>{{memberActive.email}}</h3>
          </span>
        </div>
        <div class="menu">
          <span *ngFor="let row of menu" [routerLink]="row.url">
            <div class="active" *ngIf="row.active"></div>
            <p [ngClass]="{'active-link':row.active}">{{row.name}}</p>
          </span>
        </div>
        <div class="info">
          <button mat-raised-button class="mat-elevation-z6" (click)="newExpense()">New Expenses</button>
        </div>
      </div>
      <div class="logout" (click)="logout()">
        <img src="../../../assets/img/logout.png">
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="panel-container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
