.container {
  width: 100%;
  .top-toolbar {
    padding: 0px;
    height: 103px;
    background: white;
    justify-content: space-between;
    div:first-child {
      height: 103px;
      width: 25%;
      min-width: 300px;
      background-image: linear-gradient(180deg, #6AA5E3, #6866E9);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img:first-child{
        width: 18px;
        height: 18px;
        margin-left: 50px;
        margin-right: 2%;
      }
      img:last-child {
        width: 216px;
        height: 47px;
      }
    }
    div:last-child{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 32px;
      .profile-pic {
        width: 32px;
        height: 32px;
        margin-left: 24px;
      }
    }
  }
  .top-toolbar-responsive{
    display: none;
  }
  mat-drawer-container {
    height: calc(100vh - 103px);
    .menu-container {
      min-width: 300px;
      width: 25%;
      background-color: white;
      display: -webkit-box;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 70px;
      .top-menu {
        display: flex;
        flex-direction: column;
        .info {
          display: flex;
          padding: 0px 50px 0px 50px;
          .profile-pic-menu {
            width: 52px;
            height: 52px;
            margin-right: 11px;
          }
          h2 {
            margin: 0px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: bold;
            color: #707070;
          }
          h3 {
            margin: 0px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: lighter;
            color: #707070;
          }
          button {
            width: 265px;
            height: 57px;
            color: white;
            background-image: linear-gradient(180deg, #6FE3FF, #2FC7F5);
          }
        }
        .menu {
          display: flex;
          flex-direction: column;
          padding: 50px 0px;
          span {
            height: 50px;
            align-items: center;
            display: flex;
            .active {
              background-color: #2FC7F5;
              width: 12px;
              height: 12px;
              border-radius: 0px 50px 50px 0px;
              position: absolute;
            }
            p {
              font-family: Montserrat;
              font-size: 18px;
              font-weight: normal;
              color: #707070;
              margin-left: 56px;
              &.active-link {
                color: #2FC7F5
              }
              text-underline: none;
            }
            &:hover {
              cursor: pointer;
            }
            &:focus {
              outline-width: 0px;
            }
          }
        }
      }
      .logout {
        background-color: rgb(112, 112, 112, .3);
        width: 85px;
        height: 85px;
        border-radius: 0% 100% 0% 0%;
        display: flex;
        align-items: center;
        padding-left: 16px;
        position: absolute;
        bottom: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .panel-container {
      height: 100%;
      background-color: #EFF8F5;
      overflow-x: hidden;
    }
  }
  @media screen and (max-width: 600px) {
    .top-toolbar{
      display: none;
    }
    .menu-container {
      padding-top: 40px;
    }
    .top-toolbar-responsive{
      display: flex;
      padding: 0px;
      height: 103px;
      justify-content: space-between;
      div {
        height: 103px;
        width: 100%;
        background-image: linear-gradient(180deg, #6AA5E3, #6866E9);
        display: flex;
        align-items: center;
        justify-content: space-between;
        img:first-child{
          width: 18px;
          height: 18px;
          margin-left: 25px;
        }
        img.title{
          width: 159px;
          height: 22px;
        }
        img:last-child{
          width: 28px;
          height: 20px;
          margin-right: 25px;
        }
      }
    }
  }
}

