@import '~@angular/material/theming';

@include mat-core();
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

$material-icons-font-path: '~material-icons/iconfont/';

body {
  margin: 0px;
  padding: 0px;
}

.mat-dialog-container {
  margin-left: 200px;
  margin-right: -150px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #C3C3C3;
}

p {
  font-family: Montserrat;
}

.mat-select-placeholder {
  color: #707070;
  font-size: 12px;
}

.mat-select-value {
  text-align: center;
  .mat-select-value-text {
    color: #707070;
    font-size: 12px;
  }
}

.mat-header-cell, .mat-cell {
  color: #C3C3C3;
}

.mat-table {
  background: transparent;
  box-shadow: unset;
  tr {
    border-color: #4B4B4B;
  }
}

input {
  color: #707070 !important;
}

.mat-select-panel {
  background: white;
}

.mat-option-text, .mat-option.mat-active {
  color: #707070;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
}

.mat-form-field-label, mat-label {
  color: #707070;
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: Montserrat,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);
@include angular-material-typography($custom-typography);

.swal2-title, #swal2-content {
  font-family: Montserrat;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0 !important;
}

.layer {
  background-image: linear-gradient(180deg, #6AA5E3, #6866E9);
  opacity: .62;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

